---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Patch Notes</Fragment>
      <Fragment slot="desc">Tracking Our Neverending Nightmare Work</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-1 gap-5 md:gap-10 items-center">
                  <div>
                    <h2 class="text-ws-grey-light text-3xl font-extrabold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>
                    <p class="text-ws-grey-light text-sm leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.snippet}
                    </p>
                    <div class="flex gap-2 mt-3">
                      <span class="text-ws-grey">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-ws-grey-dark">• </span>
                      <time
                        class="text-ws-grey"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
