---
import Container from "@components/container.astro";
import transflag from "assets/transflag.png";
import rainbowflag from "assets/rainbowflag.png";
import logoIcon from "assets/logo/logo.png";
import logoTitle from "assets/logo/logo-title.png";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "@astrojs/image/components";

type MenuItemType = {
  title: string,
  path: string,
  // TODO: color?: string,
  children?: MenuItemType[]
}

const menuitems: MenuItemType[] = [
  {
    title: "Patch Notes",
    path: "/patchnotes",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <div class="flex w-full lg:w-auto items-center gap-4">
          <a href="/" class="text-lg w-32 text-center gap-2 leading-3">
            <div class="flex items-center">
              <Picture 
                src={logoIcon}
                alt="Creator Studio Icon"
                widths={[20, 40, 60]}
                sizes="(max-width:2.8rem) 100vw, 2.8rem"
                format="png"
              />
              <Picture 
                src={logoTitle}
                alt="Creator Studio"
                widths={[40, 80, 120]}
                sizes="(max-width:5.6rem) 100vw, 5.6rem"
                format="png"
              />
            </div>
          </a>
          <div class="flex items-center">
            <Picture
              src={transflag}
              alt="Transgender Pride Flag"
  
              widths={[20, 40, 60]}
              sizes="(max-width:2.8rem) 100vw, 2.8rem"
              loading="eager"
              format="png"
            />
            <Picture
              src={rainbowflag}
              alt="LGBT Rainbow Pride Flag"
              widths={[20, 40, 60]}
              sizes="(max-width:2.8rem) 100vw, 2.8rem"
              loading="eager"
              format="png"
            />
          </div>
        </div>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-ws-grey-light" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class:list={[
                        "flex lg:px-3 py-2 text-ws-grey-light",
                        "hover:text-ws-green",
                      ]}
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div> -->
      </MenuItems>
    </Astronav>
  </header>
</Container>
